<div class="sidebarr">
  <ul>
    <li><a href="#">Content 1</a></li>
    <li><a href="#">Content 1</a></li>
    <li><a href="#">Content 1</a></li>
    <li><a href="#">Content 1</a></li>
    <li><a href="#">Content 1</a></li>
  </ul>
</div>