<div class="sidebar" style="float: right; margin-right: 50px">
  <a class="twitter-timeline" data-width="220" data-height="1200" href="https://twitter.com/railsconf">Tweets by
    railsconf</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>